In [ ]:
import pandas as pd # data processing
import numpy as np # linear algebra
import seaborn as sns # visualisasi data
import matplotlib.pyplot as plt

In [ ]:
wine_df = pd.read_csv('winemag-data-130k-v2.csv.zip', index_col = 0)
#wine_df.head()

# Exploring dataset

In [ ]:
wine_df.shape

(129971, 13)

In [ ]:
wine_df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [ ]:
#wine_df.describe

In [ ]:
wine_df = wine_df.drop(columns = ['description', 'designation', 'region_1', 'region_2', 'taster_twitter_handle', 'province', 'taster_name', 'title', 'variety', 'winery'])
wine_df.head()

    country  points  price
0     Italy      87    NaN
1  Portugal      87   15.0
2        US      87   14.0
3        US      87   13.0
4        US      87   65.0

In [ ]:
wine_df.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [ ]:
wine_df.drop_duplicates(inplace = True)

# Cleaning dataset

In [ ]:
wine_df.isna().sum()

country     45
points       0
price      192
dtype: int64

In [ ]:
wine_df.dropna(inplace = True)

In [ ]:
wine_df.shape

(10392, 3)

In [ ]:
wine_df['price'].describe()

count    10392.000000
mean        69.246536
std        106.380201
min          4.000000
25%         22.000000
50%         41.000000
75%         78.000000
max       3300.000000
Name: price, dtype: float64

In [ ]:
reduced_price = np.array(wine_df['price'][:6])

# Searching

In [ ]:
def search_by_country(name):
    result = wine_df.loc[wine_df['country'] == name]
    return result.head()

def search_by_price(num):
    result = wine_df['price'] == int(num)
    return wine_df[result].head()

def search_by_points(num):
    result = wine_df['points'] == int(num)
    return wine_df[result].head()

In [ ]:
search_by_country('US')

NameError: ignored

In [ ]:
def LinearSearch(lys, element):
    values = np.array(lys)
    for count, value in enumerate(values):
        if value == element:
            return f'index : {count+1}'

In [ ]:
LinearSearch(wine_df['country'], 'US')

# Sorting

In [ ]:
reduced = np.array(wine_df['price'][:20])
reduced

NameError: ignored

In [ ]:
def sorting_values_asc(col):
    result = wine_df.sort_values(col, ascending = True)
    return result.head()

def sorting_values_des(col):
    result = wine_df.sort_values(col, ascending = False)
    return result.head()

In [ ]:
def SelectionSort(arr):
    # Traverse through 1 to len(arr)
    for i in range(len(arr)):
    # Find the minimum element in remaining
    # unsorted array
        min_idx = i
        for j in range(i+1, len(arr)):
            if arr[min_idx] > arr[j]:
                min_idx = j

    # Swap the found minimum element with
    # the first element
        arr[i], arr[min_idx] = arr[min_idx], arr[i]
    return arr

In [ ]:
SelectionSort(reduced)

NameError: ignored

In [ ]:
sorting_values_asc('price')

# Visualization

In [ ]:
wine_df['country'].value_counts()

NameError: ignored

In [ ]:
fig = plt.figure()
plt.pie(wine_df['country'].value_counts(), labels = wine_df['country'].value_counts().keys(), autopct = '%.1f')

In [ ]:
wine_df['points'].describe()

In [ ]:
fig, ax = plt.subplots()
ax.plot(wine_df['points'][:500], marker = 'o', markersize = 1)
ax.set_ylabel('POINTS')
ax.set_xlabel('INDEX')
ax.set_yticks([80, 87, 90, 92, 100])
ax.set_yticklabels(['min', '25%', '50%', '75%', 'max'])

In [ ]:
fig = plt.figure()
plt.boxplot(wine_df['points'])

In [ ]:
def inserting(country, points, price):
  #wine_df = wine_df.append({'country' : country, 'points' : int(points), 'price' : int(price)})
  wine_df.loc[len(wine_df)] = [country, points, price]
  return wine_df.tail()

In [ ]:
inserting('indo', 90, 980)

In [ ]:
wine_df.shape

In [ ]:
def deleting_row(i):
  wine_df.drop(wine_df.index[int(i)], inplace = True)
  return wine_df.tail()

In [ ]:
deleting_row(10392)

In [ ]:
wine_df.shape